* {
    padding: 0;
    margin: 0;
}
html,body {
    width: 100%;
    height: 100%;
}
.container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#general {
    /* position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
    height: auto;
    width: 336px;
    border-color: #C4C4C4;
    border-width: 1px;
    border-style: solid;
    border-radius: 10px;
    font-family: 'Roboto', sans-serif;
}

#header {
    background: #FFDC40;
    height: 28px;
    width: 100%;
    border-radius: 10px 10px 0 0;
    justify-content: center;
}

#name {
    text-align: center;
}

h1 {
    font-size: 26px;
    font-weight: 900;
    margin: 13px 0;
}

#imgForSort {
    display: flex;
    justify-content: flex-end;
    padding-right: 30px;
}
#imgForSort>img:hover {
    filter: brightness(0);
}

#textBlock {
    /* box-sizing: border-box; */
    padding: 12px 27px 12px 27px;
    /* width: 286px; */
    border-color: #C4C4C4;
    border-width: 1px;
    border-style: solid;
    border-radius: 10px;
    font-family: 'Roboto', sans-serif;
    margin-left: 28px;
    margin-top: 11px;
    margin-right: 22px;
    display: flex;
    flex-direction: column;
}

#btn button {
    background-color: #833AE0;
    border-width: 0;
    width: 150px;
    height: 42px;
    border-radius: 71px;
    color: white;
    margin: 18px 94px 19px 92px;
    display: inline-flex;
    align-items: center;
}

#btn span {
    width: 42px;
    height: 42px;
    background-color: #9953F1;
    border-radius: 71px;
    margin-left: -6px;
    display: inline-block;
    line-height: 42px;
    margin-right: 15px;
}

.inputAndList {
    display: flex;
    justify-content: space-between;
}

input {
    border: none;
    outline: none;
    font-size: 14px;
}

form {
    display: flex;
    flex-direction: column;
}

ul {
    list-style-type: none;
    padding-left: 0px;
}

ul li {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

#ulList {
    display: none;
}

img#imgForDelInputText:hover,
#ulList>li>img:hover {
    background: url('../tracker/image/Group 70 col.png') no-repeat !important;
} 

.iconForDeleteText {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    border: 1px solid #C4C4C4;
    position: relative;

}

.iconForDeleteText:after {
    content: '+';
    position: absolute;
    top: 7px;
    left: -2px;
    width: 14px;
    height: 14px;
    transform: rotate(45deg);
    font-size: 23px;
    font-weight: 100;
    line-height: 0;
    color: #C4C4C4;
}

.iconForDeleteText:hover {
    background-color: #833AE0;
    
}
.iconForDeleteText:hover:after {
    color: white;
}